<template lang="html">
  <div class="showcase-wrapper">
    Hola {{$route.params.id}}
  </div>
</template>

<script>
  export default {
    name:'Showcase',
    data:function(){
      return{

      }
    },
    methods:{

    },
    mounted() {


    }
  }
</script>

<style lang="css" scoped>


</style>
