<template lang="html">
  <!--<span class='work' :style="'background-color:'+  types[place].color">
    {{types[place].work}}
  </span>-->
  <span class='work span-text' :class="{'sligthly-long': place ==3, 'very-long': place == 1, 'normal': place !== 3 || place !== 1}">
  <u :class="{'active':place == estado, 'inactive':place !== estado}">{{types[place].work}}</u>
  </span>
</template>

<script>
  export default {
    name:'Business',
    props:['types', 'estado'],
    data:function(){
      return{
        tipos:[],
        place:1,
        continueW:false
      }
    },
    mounted() {
      if(this.types !== undefined){
        this.tipos = this.types;
        this.place = this.estado;
      }
    },
    watch:{
      place:{
        handler(val){
          if(val !== undefined){
            let ref = this;
            setTimeout(function(){
              ref.place = val;
              ref.continueW = true;
              if(ref.continueW){
                 let nextWork = ref.place;
                 if(nextWork >= 3 ){
                 ref.$emit('handleIterator', 0);
                 }else{
                 ref.$emit('handleIterator', nextWork += 1);
                 }

              }
            }, 2000);
          }
        },deep:true
      },
      estado:{
        handler(val){
          if(val !== this.place){
            let ref = this;
            setTimeout(function(){
               ref.place = val;
            }, 500);

          }
        },deep:true
      }
    }
  }
</script>

<style lang="css" scoped>
.work{
  padding:.4rem;
  background-color:#edc82c;
  color:#484843;
  border-radius:5%;
}
.active{
  opacity:1;
  transition:.6s;
  -webkit-transition:.6s;
  animation: translate-in .6s;
}
.inactive{
  opacity:0;
  transition:.6s;
  -webkit-transition:.6s;
  animation: translate-out .6s;
}

@keyframes translate-in {
  0%   {font-size:0rem}
  100% {font-size:1.25rem}
}
@keyframes translate-out{
  0% {font-size:1.25rem}
  100% {font-size:0rem}
}

@media (max-width: 768px) {

  @keyframes translate-in {
    0%   {font-size:0rem}
    100% {font-size:1em}
  }
  @keyframes translate-out{
    0% {font-size:1rem}
    100% {font-size:1rem}
  }
}
</style>
