/*
main: #edc82c
secondary: d78d33
text: #484843
*/
.is-primary{
  background-color:#edc82c !important;
}

.button.is-primary{
  background-color:#edc82c !important;
  color:#484843!important;
}
.button.is-primary:hover, .button.is-primary.is-hovered{
  background-color:#d78d33 !important;
  color:#fff !important;
}

.is-black{
  background-color:#484843;
}
