<template lang="html">
  <div class="">
  <section class="hero is-white is-medium">
    <div class="hero-body">
      <div class="container content">
        <h1 class="title is-size-2-tablet is-size-3-mobile">
          Desarrollando Web
        </h1>
        <h2 class="subtitle is-size-5-tablet is-size-5-mobile mt-2">Paginas y plataformas efectivas para su <business v-if="tipos !== undefined" :types='tipos' :estado='iterator' v-on:handleIterator='iteratorChange' /></h2>
        <b-button type="is-primary">Ver proyectos</b-button>
      </div>
    </div>
  </section>
  <section class='hero is-dark'>
    <div class="hero-body">
    <div class="container">
      <div class="content">
        <h3 class='has-text-white'>Proyectos</h3>
        <p>Algunos proyectos de desarrollo donde he estado involucrado</p>
      </div>
      <div class="columns is-multiline" v-if='projects != undefined'>
        <project v-for="(project, key) in projects" :key="key" :project='project'/>
      </div>
    </div>
  </div>
  </section>
</div>
</template>

<script>
import Business from './../flashy/Business.vue';
import Project from './../_common/Project.vue';
  export default {
    name:'Home',
    data:function(){
      return{
        tipos:[
          {work:'Negocio', color:'#edc82c'},
          {work:'Emprendimiento', color:'#2DA7EE'},
          {work:'Marca', color:'#EE7A2D'},
          {work:'Servicio', color:'#2DEE9A'}
        ],
        projects:[
          {id:0, name:'Amazon Pepper', thumb:'amazon-landing.jpg', ref:'https://www.amazonpepper.com/' ,summary:'Landingpage informativo y promocional para Salsas Amazon Pepper ', roles:['Desarrollo Fullstack', 'Administrador de contenido'], job:{page:'https://owak.co/', img:'owak-logo.png'}},
          {id:1, name:'Amazon Pepper - Sweet Chili', thumb:'sweet-thumb.jpg', ref:'#', summary:'Campaña de Amazon Pepper para promocionar la nueva salsa Sweet Chili', roles:['Desarrollo Front-end', 'Desarrollo UI'], job:{page:'https://owak.co/', img:'owak-logo.png'}},
          {id:2, name:'Amazon Pepper - Mexicanas', thumb:'mexicanas-thumb.jpg', ref:'https://www.amazonpepper.com/salsas-mexicanas/', summary:'Proyecto para el lanzamiento de la línea Salsas Mexicanas de Amazon Pepper', roles:['Desarrollo Front-end'], job:{page:'https://owak.co/', img:'owak-logo.png'}},
          {id:3, name:'Legacy', thumb:'legacy-thumb.jpg', ref:'http://legacywp.us/' ,summary:'Landingpage informativo para agencia aseguradora Legacy', roles:['Desarrollo Front-end'], job:{page:'https://owak.co/', img:'owak-logo.png'}},
          {id:4, name:'JNJ Colombia', thumb:'jnj-thumb.jpg', ref:'https://www.jnjcolombia.com/' ,summary:'Plataforma de JNJ Colombia para lanzamiento de camapañas digitales', roles:['Desarrollo Front-end', 'Administrador de contenido'], job:{page:'https://owak.co/', img:'owak-logo.png'}},
          //{name:'Listerine Colombia', thumb:'jnj-listerine.jpg', ref:'https://www.listerine.com.co/', summary:'Landingpage informativa y promocional para Listerine Colombia', roles:['Desarrollo Front-end', 'Administrador de contenido'], job:{page:'https://owak.co/', img:'owak-logo.png'}},
          {id:5, name:'GVS Colombia', thumb:'gvs-thumb.jpg', ref:'https://www.gvscolombia.com/' ,summary:'Plataforma e-commerce multiproposito para GVS Colombia', roles:['Desarrollo Front-end', 'Desarrollo UI/UX'], job:{page:'https://www.gvscolombia.com/nosotros', img:'logo-gvs.png'}}
        ],
        iterator:0
      }
    },
    components:{
      'business':Business,
      'project':Project
    },
    methods:{
      iteratorChange:function(index){
        this.iterator = index;
      }
    },
    mounted() {

    }
  }
</script>

<style lang="css">
@media (max-width: 768px) {
  .subtitle{
    line-height:1.4 !important;
  }
}
</style>
