<template lang="html">
  <div class="container">
    <b-navbar>
         <template slot="brand">
             <b-navbar-item tag="router-link" :to="{ path: '/' }">
                 <img src="./../../assets/logo-ama.webp" alt="Logo principal">
             </b-navbar-item>
         </template>
         <template slot="end">
           <b-navbar-item>
             <b-button type="is-primary">Proyectos</b-button>
           </b-navbar-item>
           <b-navbar-item href="#" >
             <b-button class="is-black" outlined>Contáctame</b-button>
           </b-navbar-item>
         </template>
     </b-navbar>
  </div>
</template>

<script>
  export default {
    name:'MainNav',
    data:function(){
      return{

      }
    },
    mounted() {
   
    }
  }
</script>

<style lang="css" scoped>
.navbar-item img{
  max-height:2.50rem !important
}
</style>
