<template lang="html">
  <div class="column column-project is-relative is-3-fullhd is-4-desktop is-6-tablet" @mouseover="showContent = true"
      @mouseleave="showContent = false">
  <!-- <a :href="project.ref" target='_blank'>-->
   <router-link :to="{name:'project', params:{id:project.id}}">
      <figure class='image is-5by4'>
        <img :src="getImgUrl(project.thumb, 'jpg')" :alt="project.name">
      </figure>
      <div class="info-project has-text-black content is-flex" :class='{"active":showContent, "hide-p":!showContent}'>
        <div class="p-1 content">
          <h4><b>{{project.name}}</b></h4>
          <p class='has-text-left'><small>{{project.summary}}</small></p>
          <p class='has-text-left'><small>Funciones:</small></p>
          <b-taglist>
             <b-tag v-for='(role, key) in project.roles' :key='key' type="is-primary"><small>{{role}}</small></b-tag>
          </b-taglist>
          <div class="">
            <p class='has-text-left'><small>Empleador:</small> <a :href="project.job.page"><img class="image image-company" :src="getImgUrl(project.job.img, 'png')" alt=""></a></p>
          </div>
        </div>
      </div>
    <!--</a>-->
  </router-link>
  </div>
</template>

<script>
  export default {
    name:'Project',
    props:['project'],
    data:function(){
      return{
        showContent:false
      }
    },
    methods:{
      getImgUrl(asset, typeImg) {
      if(typeImg == 'jpg'){
        let images = require.context('./../../assets/', false, /\.jpg$/)
        return images('./' + asset)
      } else{
        let images = require.context('./../../assets/', false, /\.png$/)
        return images('./' + asset)
      }
      }
    },
    mounted() {

    }
  }
</script>

<style lang="css" scoped>
.image-company{
  width:75px;
  height:35px;
}

.column-project{
  margin-bottom:1.2rem;
  transition:.3s;
  -webkit-transition:.3s;
}

.info-project{
  background-color:#fff;
  position:absolute;
  top:0;
  align-items:center;
  justify-content:center;
  height: 100%;
  overflow: hidden;
  border-radius:2%;
}
.info-project.active{
  opacity:1;
  transition:.5s;
  -webkit-transition:.5s;
}
.info-project.hide-p{
  opacity:0;
  transition:.5s;
  -webkit-transition:.5s;
}
.info-project.hide-p h4{
  font-size:0;
  transition:.5s;
  -webkit-transition:.5s;
}
.info-project.hide-p p{
  font-size:0;
  transition:.5s;
  -webkit-transition:.5s;
}
.info-project.hide-p .tag{
  font-size:0;
  transition:.5s;
  -webkit-transition:.5s;
}

@media (max-width: 991px) {
  .info-project{
    width:95%;
  }

}

@media (max-width: 768px) {
  .info-project{
    background-color:#fff;
    position:relative;
    align-items:top;
    justify-content:center;
    height: 100%;
    width:100%;
    overflow: hidden;
    border-radius:0%;
    margin-top:5px;
    border-top:5px solid  #edc82c;
    opacity:1 !important;
  }

  .info-project.hide-p{
    opacity:1 !important;

  }
  .info-project.hide-p h4{
    font-size:1.25em !important;

  }
  .info-project.hide-p p{
    font-size:initial !important;
  }
  .info-project.hide-p .tag{
    font-size:.8em !important;
  }
}

</style>
