<template>
  <div id="app">
    <navi/>
    <router-view></router-view>
  </div>
</template>

<script>
import MainNav from './components/_common/MainNav.vue';
export default {
  name: 'App',
  components: {
    navi:MainNav
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 5px;
}

// Import Bulma's core
@import "~bulma/sass/utilities/_all";


// Set your colors
$primary: #edc82c;
$primary-invert: findColorInvert($primary);
$black: #484843;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

.p-0{
padding:0;
}

.p-1{
padding:1rem;
}
.p-2{
padding:1.2rem;

}
.p-3{
padding:1.5rem;
}
.p-4{
padding:1.8rem;
}
.p-5{
padding:2rem;
}

.mt-1{
  margin-top:1.1rem;
}
.mt-2{
  margin-top:1.3rem !important;
}
.mt-3{
  margin-top:1.5rem;
}
.mt-4{
  margin-top:1.8rem;
}
.mt-5{
  margin-top:2rem;
}

.is-absolute{
  position:absolute;
}
.is-white-bg{
  background-color:#fff;
}
// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

</style>
